process-api/src/main/mule/p-api-interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="process-api-config" api="process-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="process-api-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[vars.httpDescription]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="process-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
				<set-variable value="#[400]" doc:name="httpStatus" doc:id="a882a8fa-8730-4360-a827-4e5087b25353" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="b63feac5-47f5-4ab8-8401-f51752d91839" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="eeabc922-746b-4cd6-9a44-656cbf0ee182" name="p-api-errorhandlingSub_Flow"/>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<set-variable value="#[404]" doc:name="httpStatus" doc:id="97bc1f55-7ae1-436e-884a-2bff6133e6b7" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="3016da92-f077-42b9-8573-a8d2b3b698af" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="3e4283f4-20cb-4fd3-b5f4-1b0de3aa3401" name="p-api-errorhandlingSub_Flow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
				<set-variable value="#[405]" doc:name="httpStatus" doc:id="719406f7-dead-4323-b8d3-361b6237cb2f" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="4395f2fe-5fc2-47f8-811a-88783ac8a67c" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="6d4ba2ef-a6ee-402d-8a4a-981d073417dc" name="p-api-errorhandlingSub_Flow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<set-variable value="#[406]" doc:name="httpStatus" doc:id="e95d099f-e004-472f-be49-3c10a35a5e2f" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="1898116e-7159-430f-9b5b-9eb729e09337" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="3cf16b33-e26a-4c3d-8974-ebf17c041e75" name="p-api-errorhandlingSub_Flow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<set-variable value="#[415]" doc:name="httpStatus" doc:id="7220c1f5-50d1-417d-922f-4c29da2abef2" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="cdcafc0d-de68-4443-829c-dddce67a604c" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="ebbe7191-c003-4384-81a3-640fbbeadf00" name="p-api-errorhandlingSub_Flow" />
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <set-variable value="#[404]" doc:name="httpStatus" doc:id="9bc768d5-d89b-4c21-bb52-4b8c3b328054" variableName="httpStatus" />
				<set-variable value="#[error.detailedDescription]" doc:name="httpDescription" doc:id="94237a49-29aa-40e2-8943-8e91a1097718" variableName="httpDescription" />
				<flow-ref doc:name="Flow Reference" doc:id="4e1c8fe0-6a20-4f58-be81-c601e430d78d" name="p-api-errorhandlingSub_Flow" />
            </on-error-propagate>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="1d81e918-d180-4edd-b465-9fc079a11897" type="ANY">
				<set-variable value="#[vars.httpStatus]" doc:name="httpStatus" doc:id="8a1c9d11-8077-426e-9398-9ea45e2f56f0" variableName="httpStatus"/>
				<set-variable value="#[vars.httpDescription]" doc:name="httpDescription" doc:id="4169378f-da40-4072-9073-33e08b1d36fc" variableName="httpDescription"/>
				<flow-ref doc:name="Flow Reference" doc:id="1b78b0c7-6839-4bc6-8115-725ee111af83" name="p-api-errorhandlingSub_Flow" />
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\process:process-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="b3361d2d-ca36-4a9d-a586-7db163a58cb4" name="p-api-implementationFlow"/>
    </flow>
</mule>
